.container{
    background-color: rgb(255, 255, 255);
    margin-top: 75px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px blue;
}

.flex-box-rps img:hover {
    box-shadow: 0px 10px 50px 10px rgb(16, 16, 201);
}

.flex-box-rps{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
h1{
    text-align: center;
    font-weight: 500;
    font-style: italic;
}

.instructions{
    margin-left: 300px;
    margin-top: 100px;

}
#fFive{
   color: red;
}
#player{
    color: blue;
}
#comp{
    color: red;
}